/* body {
  display: flex;
  justify-content: center;
} */

#grid {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  width: 500px;
}

.cell {
  background-color: rgb(240, 240, 240);
  /* width: 29.25px;
  height: 29.25px; */
  border: 1px solid rgb(0, 0, 0);
}

.container {
  margin-top: 30px;
  width: 575px;
  height: 575px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #617295;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  justify-content: center;
}
